<div class="board-container">
  <h1 class="heading">Tic Tac Toe Game</h1>
  <table>
    <tr style="width: 100%;">
      <td style="width: 33.33%;" (click)="gameService.changeGameState(0)"><app-position-text [textValue]="gameService.gameState[0]"></app-position-text></td>
      <td style="width: 33.33%;" (click)="gameService.changeGameState(1)"><app-position-text [textValue]="gameService.gameState[1]"
        ></app-position-text></td>

      <td  style="width: 33.33%;"(click)="gameService.changeGameState(2)"><app-position-text [textValue]="gameService.gameState[2]"></app-position-text></td>
    </tr>
    <tr style="width: 100%;">
      <td style="width: 33.33%;" (click)="gameService.changeGameState(3)"><app-position-text [textValue]="gameService.gameState[3]"></app-position-text></td>
      <td style="width: 33.33%;" (click)="gameService.changeGameState(4)"><app-position-text [textValue]="gameService.gameState[4]"></app-position-text></td>

      <td style="width: 33.33%;" (click)="gameService.changeGameState(5)"><app-position-text [textValue]="gameService.gameState[5]"></app-position-text></td>
    </tr>
    <tr style="width: 100%;">
      <td style="width: 33.33%;" (click)="gameService.changeGameState(6)"><app-position-text [textValue]="gameService.gameState[6]"></app-position-text></td>
      <td style="width: 33.33%;" (click)="gameService.changeGameState(7)"><app-position-text [textValue]="gameService.gameState[7]"></app-position-text></td>

      <td style="width: 33.33%;" (click)="gameService.changeGameState(8)"><app-position-text [textValue]="gameService.gameState[8]"></app-position-text></td>
    </tr>
  </table>

  <h1 *ngIf="!gameService.gameOver"
  class="heading"
  style="color: white;"
  [ngClass]="{'green':gameService.chance===1,'red':gameService.chance===0}">Player {{gameService.chance}}'s chance</h1>


  <h1 *ngIf="gameService.gameOver && !gameService.draw"
  class="heading mobileres"
  style="color: white;"
  [ngClass]="{'green':gameService.winner===1,'red':gameService.winner===0}">Player {{gameService.winner}} won!!!</h1>

  <h1 *ngIf="gameService.gameOver && gameService.draw"
  class="heading">Match draw</h1>
  <div class="button-container" *ngIf="gameService.gameOver">
    <button [disabled]="!gameService.gameOver" style="cursor: pointer;"
     (click)="gameService.restartGame()">Restart Game</button>
  </div>
</div>

<!-- {{gameService.gameState | json}} -->
